.tag .caret {
  padding-left: 5px;
}

.dropdown-list {
  display: none;
  position: absolute;
  margin: 0.3rem -0.45rem;
  z-index: 1;
  background-color: black;
  border: red thin solid;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.dropdown-list.visible {
  display: block;
}

.dropdown-list > * {
  padding: 0.3rem 0.4rem;
}

.alias {
  color: crimson;
  font-size: 14px;
  vertical-align: baseline;
}

.alias:hover {
  background-color: #ffffff06;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.alias:not(:last-of-type) {
  border-bottom: solid crimson thin;
}
