.react-autosuggest__container {
    flex: 2;
    position: relative;
    color:black;
}

.react-autosuggest__input {
    width: 100%;
    height: 38px;
    padding: 10px;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border: 1px solid #aaa;
}

.react-autosuggest__input--focused {
    outline: none;
}

.react-autosuggest__suggestions-container {
    display: none;
}

.react-autosuggest__suggestions-container--open {
    display: block;
    position: absolute;
    top: 37px;
    border: 1px solid #aaa;
    background-color: #fff;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    z-index: 2;
}

.react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.react-autosuggest__suggestion {
    cursor: pointer;
    padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
    background-color: #ddd;
}

.tag-selector {
    display: flex;
}

.select-modifier {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}