html,
body,
#app-root {
  width: 100%;
  height: 100%;
}

html {
  background-color: black; /* Prevent bright flash on load*/
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus {
  outline: none;
}
