* {
  font-family: "Roboto", sans-serif;
}

html,
body,
#app-root {
  height: 100%;
}

#app-root {
  display: flex;
  flex-direction: column;
}

.spacer {
  flex: 2;
}

.black {
  background-color: black;
  color: white;
}

.gray {
  background-color: #333333;
}

a:link,
a,
a:visited {
  color: red;
}

b {
  color: red;
}

.menu-item {
  padding: 5px;
  margin-right: 10px;
}

.menu-bar .active {
  font-weight: bold;
}

.badge-tag:hover,
.btn-red:hover {
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
  -ms-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear;
  color: black;
  background-color: red;
  cursor: pointer;
}

.btn-red {
  background-color: black;
  color: red;
  border: red thin solid;
}

.centered {
  text-align: center;
}

.search {
  margin-block-end: 10px;
}

label {
  margin: 0px;
}

main {
  margin-block-end: 10px;
}

video {
  display: block;
}
