html,
body,
#app-root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

* {
  outline: none;
}

label,
h1,
h2,
h3,
a,
div,
span,
button,
input {
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
